* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body, html {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Zona del enemigo */
#battleArea {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* El sprite del enemigo */
#enemy {
  width: 140px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Zona de casillas */
#grid {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cell {
  width: 140px;
  height: 120px;
  border: 2px solid #00ff00;
  background: #003300;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botones */
#actions {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  background: #001900;
  border: 2px solid #00ff00;
  color: #00ff00;
  cursor: pointer;
}

button:active {
  background: #003300;
}