body {
    background: #0a0a0a;
    color: white;
    font-family: Arial;
    text-align: center;
}

#board {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.casilla {
    width: 90px;
    height: 90px;
    background: #333;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.casilla.player { background: #1f5; }
.casilla.enemy  { background: #f33; }

.hidden { display: none; }

button {
    margin: 5px;
    font-size: 18px;
}